# Todos os nomes de arquivos eu colocar aqui não vão aparecer no github, somente pessoas com acesso ao código poderam ver
# Serve para api's key, e outras coisas

senhas.txt
comentarios-breno-tevo.txt
